python-decouple
gradio==3.41.0
pyngrok
tensorflow
torch==2.0.1
torchvision==0.15.2
diffusers
transformers
accelerate
safetensors
invisible-watermark
datasets==2.10.1
pyarrow==9.0.0
gdown
scipy
bitsandbytes
typing-extensions
faiss_cpu==1.7.3
matplotlib==3.5.2
numpy==1.24.2
pandas==1.4.3
Pillow==9.5.0
timm==0.6.13
tqdm==4.65.0
pycocotools
xformers
openai
gradio
tenacity